body{
    background-color: #F7F4EF;
}



header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        max-width: 100%;
}
header img{
    height: 80px;
    align-content: ;
    max-width: 100%;
}
header nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}
header a{
    color: black;
    font-size: 15px;
    max-width: 100%;
}

section.hero { text-align: center;}

    section.hero hr {
        border-top-width: 2px;
        border-top-color:black
        max-width: 100%;
    }

    section.hero h1{
        margin: 0;
        padding: 40px 10px;
        font-size: 50px;
        color: rgba(0, 0, 0, 0.9);
        text-align: center;
        max-width: 100%;
    }

    section.hero p{
        font-size: 30px;
        padding-left: 6%;
        padding-right: 6%;
    }
div.card1{ 
    margin: 80px;}
    main div img{
       max-width: 1200px;
       float: left;
       height: 400px;
       
    }
    div.card1 h2{
        text-align: center;
        font-size: 30px;
    }
    
    


div.card1 p{

}

    
    
